@import "reset.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
    font-family: 'Pretendard', sans-serif;	
    font-weight: 100;
    font-size: 16px;
    background: #092C86;
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    font-style: normal;
    /* overflow: hidden; */
}
body::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera*/
}
#wrap{
    position: absolute;
}
header{
    z-index: 2;
    position: fixed;
    left: 50%;
}
/*logo*/
header nav h1{
    position: fixed;
    bottom: 2vh;
    left: 2vh;
    cursor: pointer;
}
header nav h1 img{
    width: calc(100vw * 100 /1920);
}
/*remote controller*/
#remote{
    position: fixed;
    display: flex;
    background-color: #fff;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.514));
    right: 2vh;
    bottom: 2vh;
    border: 5px solid #092C86;
    border-radius: 45px;
}
#remote .remoteGuide{
    position: absolute;
    display: flex;
    font-size: calc(100vw * 20 /1920);
    width: calc(100vw * 160 /1920);;
    top: calc(100vw * -45 /1920);
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    transition: all .7s ease;
    cursor: default;
}
#remote .remoteGuide img{
    width: calc(100vw * 44 /1920);;
}
.remoteGuide.none{
    opacity: 0;
}
.remoteBtn{
    display: flex;
    position: relative;    
    width: calc(100vw * 80 /1920);
    height: calc(100vw * 80 /1920);
    border: calc(100vw * 2 /1920) solid #092C86;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.514));
}
.remoteBtn.none{
    display: none;
}
.remoteBtn .AEffect{
    display: flex;
    position: relative;    
    width: calc(100vw * 62 /1920);
    height: calc(100vw * 62 /1920);
    color:#092C86;
    border-radius: 50%;
    border: calc(100vw * 2 /1920) solid #092C86;
    font-size: calc(100vw * 24 /1920);;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: all .7s ease;
    cursor: pointer;
    overflow: hidden;
}
.AEffect.active{
    color: #fff;
}
.remoteBtn .remoteEffect{
    
    width: calc(100vw * 65 /1920);
    height: calc(100vw * 70 /1920);
    position: absolute;
    top: calc(100vw * -82 /1920);;
    left: -5px;
    background-color: #FF6A00  ;
    z-index: -1;
    transition: all .7s ease;
}
.remoteEffect.active{
    top: -5px;
}
#content section{
    width: 100vw;
    height: 100vh;
    min-width: 1440px;
    min-height: 720px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.greeting{
    position: absolute;
    top: 0;
    left: 0px;
}
.greeting h2{
    position: relative;
    width: 743px;
    text-align: center;
}
.cover{
    width: 600px;
    height: 625px;
    margin: auto;
    background: url(../img/21961076_이성언.png) no-repeat;
    background-size: cover;
    animation: run 1s alternate infinite steps(8);
}
@keyframes run{
    100%{
        background-position: -4800px 0;
    }
}
.greeting h3{
    font-weight: 600;
    font-size: 72px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.greeting h4{
    font-weight: 400;
    font-size: 36px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: -0.05em;
}
.letMe{
    position: absolute;
    top: 0;
    left: calc(100vw*1);
    padding: 30px 85px;
    align-content: space-between; 
    column-gap: 50px;  
}
.letMe #letMe1{
    width: 700px;
    display: flex;
    flex-direction: column;
}
.letMe h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.letMe h4{
    font-weight: 200;
    font-size: 16px;
    line-height: 160%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.letMe #letMe2{
    width: 850px;
    display: flex;
    align-content: space-between;
    text-align: center;
}
.letMe #letMe2 h4{
    font-size: 20px;
}
.letMe #letMe1 #letMe1-2{
    margin-top: 90px;
}

.letMe #letMe2 #letMe2-1, .letMe #letMe2 #letMe2-2{
    width: calc(100vw * 412.5 /1920);
    min-width: 350px;
}
#letMe2 h3{
    margin-bottom: 30px;
}
#letMe2-1 .skill{
    position: relative;
    height: 25px;
    margin:30px 0 30px 210px;
    text-align-last: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.skill::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: -110px;
    top: -8px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
}
.skill:first-of-type::before{
    background-image: url(../img/unity.svg);
}
.skill:nth-of-type(2)::before{
    background-image: url(../img/html5.png);
}
.skill:nth-of-type(3)::before{
    background-image: url(../img/css.png);
}
.skill:nth-of-type(4)::before{
    background-image: url(../img/JS.png);
}
.skill:nth-of-type(5)::before{
    background-image: url(../img/Illustrator.svg);
}
.skill:nth-of-type(6)::before{
    background-image: url(../img/premiere.svg);
}
.skill:nth-of-type(7)::before{
    background-image: url(../img/AE.svg);
}
#letMe2-2 h4{
    text-align: center;
    line-height: 240%;
}
.work{
    position: absolute;
    top: 0;
    left: calc(100vw*2);
}
.work ul{
    width: 90%;
    height: calc(100vw * 500 /1920);
    display: flex;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work ul::before{
    position: absolute;
    font-size: calc(100vw * 16/1920);
    top: calc(100vw * -100 /1920);;
    left: 50%;
    transform: translate(-50%,0);
    content: "A,S : 좌우이동 \A Enter: 선택 \A 마우스 : 클릭!";
    line-height: 120%;
    text-align: center;
    white-space:pre; /* <pre>와 같은 기능을 합니다. */
}
.work ul li{
    background-color: #ff6a0000;
    background-position: center;
    background-size: 550px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
    cursor: pointer;
    /* filter: blur(3px); */
}
.work ul li:nth-child(1){
    background-image: url(../img/work1.png);
}.work ul li:nth-child(2){
    background-image: url(../img/work2.png);
}.work ul li:nth-child(3){
    background-image: url(../img/work3.png);
}.work ul li:nth-child(4){
    background-image: url(../img/work4.png);
}
.work ul li.active{
    background-image: none;
    background-color: #FF6A00;
}
.artwork{
    position: absolute;
    background-color: #092C86;
    left: calc(100vw*2);
    display: inline-block !important;
    width: calc(100vw * 1920/1920) !important;
    height: calc(100vh * 1920/1920) !important;
    scale: 0;
    padding-top: calc(100vw * 95/1920);
    overflow: auto;
	scroll-behavior: smooth	;
    align-items:flex-start !important;
    justify-content: center;
    /* 얘 왜 순위가 밀리지... */
    transition: all .7s cubic-bezier(0, 0.78, 0.25, 1);
    box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.774);
}
.artwork.active{
    scale: 1;

}
.artwork::-webkit-scrollbar{
	width: calc(100vw * 20/1920);
}
.artwork::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-radius: calc(100vw * 10/1920);
}
.artwork::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
}
.artwork .artworkTop{
    display: flex;
    padding: 0px 85px !important;
    width: 100%;
    height: calc(100vw * 633/1920);
    justify-content: space-between;
}
.artwork .artworkTop .media{
    position: relative;
    width: calc(100vw * 1120/1920);
    height: 100%;
    overflow: hidden;
}
.artwork .artworkTop .media img,.media iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
    transition: all .7s ease;
}
.artwork .artworkTop .media img.select,.media iframe.select{
    display: block;
    z-index: 0;
}
.artwork .artworkTop .media ul{
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    gap: 5px;
}
.artwork .artworkTop .media ul li{
    width: 13px;
    height: 13px;
    border-radius: 50%;    
    background-color: #ff6a0075;
    transition: all .7s ease;
    z-index: 3;
}
.artwork .artworkTop .media ul li.select{
    background-color: #FF6A00;
}
.artwork .artworkTop .TopDescription{
    width: calc(100vw * 550/1920);
    padding-right: calc(100vw * 100/1920);
    height: 100%;
}
.artwork .TDtitle{
    font-size: calc(100vw * 36/1920);
}
.artwork .TDsubTitle{
    height: calc(100vw * 100/1920);
    margin-top: calc(100vw * 20/1920);
    font-size: calc(100vw * 16/1920);
    font-weight: 200;
}
.artwork .TDlearnTitle{
    margin-top: calc(100vw * 10/1920);
    font-size: calc(100vw * 24/1920);
}
.artwork .TDlearn{
    font-size: calc(100vw * 16/1920);
    height: calc(100vw * 140/1920);;
}
.artwork .core{    
    margin-top: calc(100vw * 12/1920);
    font-size: calc(100vw * 24/1920);
}
.artwork .coreList{
    position: relative;
    width: 100%;
    height: calc(100vw * 250/1920);
}
.artwork .coreList a{
    position: absolute;
    font-size: calc(100vw * 24/1920);
    font-weight: bold;
    color: #FF6A00;
}
.coreList a:first-child{
    top: calc(100vw * 20/1920);
    left: calc(100vw * 80/1920);
}
.coreList a:nth-child(2){
    top: calc(100vw * 32/1920);
    left: calc(100vw * 234/1920);
}
.coreList a:nth-child(3){
    top: calc(100vw * 100/1920);
    left: calc(100vw * 40/1920);
}
.coreList a:nth-child(4){
    top: calc(100vw * 160/1920);
    left: calc(100vw * 180/1920);
}
.coreList a:nth-child(5){
    top: calc(100vw * 110/1920);
    left: calc(100vw * 330/1920);
}
.artwork .Descriptions{
    width: 100%;
    padding: calc(100vw * 100/1920);
}
.artwork .Descriptions li{
    margin-bottom: calc(100vw * 100/1920);
}
.artwork .Descriptions h3{
    font-size: calc(100vw * 36/1920);
}
.artwork .Descriptions h4{
    margin: calc(100vw * 40/1920) calc(100vw * 50/1920);
    padding: calc(100vw * 10/1920) calc(100vw * 50/1920);
    font-size: calc(100vw * 36/1920);
    background-color: #000;
}
.artwork .Descriptions h5{
    margin: calc(100vw * 50/1920) calc(100vw * 150/1920);
    font-size: calc(100vw * 24/1920);
    font-weight: normal;
    line-height: 170%;
}
footer{
    position: absolute;
    left: calc(100*3vw);
    display: flex;
    width: 100vw;
    height: 100vh;
    min-width: 1440px;
    min-height: 720px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footerWrap{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 1440px;
    min-height: 720px;
    padding: 30px 85px;

    background-image: url(../img/footerBack.png);
    background-position: -1067px 140px;
    background-repeat: no-repeat;
}
#footer1{
    width: 50%;
    padding-top: 50vh;
}
#footer1 h3{
    font-size: 72px;
    line-height: 150%;
}
#footer1 h4{
    font-size: 36px;
    font-weight: 300;
}
#footer2{
    position: relative;
    width: 50%;
    padding-top: 15vh;
    text-align: right;
}
#lastA{
    position: relative;
}
#lastA::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -20px;
    transform: translate(0, 100%);
    background-image: url(../img/나.png);
    background-size: calc(100vw * 1053/1920 * 0.15);
    background-repeat: no-repeat;
    width: calc(100vw * 1053/1920 * 0.15);
    height: calc(100vw * 1404/1920 * 0.15);
}
#footer2 h2{
    font-size: 72px;
    line-height: 150%;
}
#footer2 h3{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 25px;
}
#footer2 p{
    font-size: 24px;
    line-height: 180%;
    margin-bottom: 30px;
}
#footer2 a{
    font-size: 36px;
    font-weight: bold;
    line-height: 120%;
}