@import "reset.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
    font-family: 'Pretendard', sans-serif;	
    font-weight: 100;
    font-size: 16px;
    background: #092C86;
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    font-style: normal;
    /* overflow: hidden; */
}
body::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera*/
}
#wrap{
    position: absolute;
}
header{
    z-index: 2;
    position: fixed;
    left: 50%;
}
/*logo*/
header nav h1{
    position: fixed;
    top: 3.7vh;
    transform: translate(-50%,0);
    cursor: pointer;
}
header nav h1 img{
    width: 100px;
}
/*remote controller*/
#remote{
    position: fixed;
    display: flex;
    background-color: #fff;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.514));
    bottom: 3.7vh;
    transform: translate(-50%,0);
    border: 5px solid #092C86;
    border-radius: 45px;
}
.remoteBtn{
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px solid #092C86;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.514));
}
.remoteBtn.none{
    display: none;
}
.remoteBtn .AEffect{
    display: flex;
    position: relative;
    width: 62px;
    height: 62px;
    color:#092C86;
    border-radius: 50%;
    border: 2px solid #092C86;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: all .7s ease;
    overflow: hidden;
    cursor: pointer;
}
.AEffect.active{
    color: #fff;
}
.remoteBtn .remoteEffect{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 62px;
    left: -10px;
    background-color: #FF6A00  ;
    z-index: -1;
    transition: all .7s ease;
}
.remoteEffect.active{
    top: -2px;
}
#content section{
    width: 1920px;
    height: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.greeting{
    position: absolute;
    top: 0;
    left: 0px;
}
.greeting h2{
    position: relative;
    width: 743px;
    text-align: center;
}
.cover{
    width: 600px;
    height: 625px;
    margin: auto;
    background: url(../img/aa.svg) no-repeat;
    background-size: cover;
    animation: run 1s alternate infinite steps(8);
}
@keyframes run{
    100%{
        background-position: -4800px 0;
    }
}
.greeting h3{
    font-weight: 600;
    font-size: 72px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.greeting h4{
    font-weight: 400;
    font-size: 36px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: -0.05em;
}
.letMe{
    position: absolute;
    top: 0;
    left: calc(1920*1px);
    padding: 30px 85px;
    align-content: space-between; 
    column-gap: 50px;  
}
.letMe #letMe1{
    width: 700px;
    height: 100%;
    padding-top: 260px;
    display: flex;
    flex-direction: column;
}
.letMe h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.letMe h4{
    font-weight: 200;
    font-size: 16px;
    line-height: 160%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.letMe #letMe2{
    width: 850px;
    height: 100%;
    padding-top: 260px;
    display: flex;
    align-content: space-between;
    text-align: center;
}
.letMe #letMe2 h4{
    font-size: 20px;
}
.letMe #letMe1 #letMe1-2{
    margin-top: 90px;
}

.letMe #letMe2 #letMe2-1, .letMe #letMe2 #letMe2-2{
    width: 412.5px;
}
#letMe2 h3{
    margin-bottom: 50px;
}
#letMe2-1 .skill{
    position: relative;
    margin:20px 0 20px 210px;
    text-align-last: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.skill:first-of-type::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: -110px;
    top: -8px;
    background-image: url(../img/unity.svg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
}
#letMe2-2 h4{
    text-align: left;
    margin-left: 30px;
}
.work{
    position: absolute;
    top: 0;
    left: calc(1920*2px);
}
.work ul{
    border: 1px solid #fff;
    width: 1750px;
    height: 500px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work ul::before{
    position: absolute;
    font-size: 24px;
    top: -150px;
    left: 50%;
    transform: translate(-50%,0);
    content: "A,S : 좌우이동 \A Enter: 선택 \A 마우스 : 클릭!";
    line-height: 120%;
    text-align: center;
    white-space:pre; /* <pre>와 같은 기능을 합니다. */
}
.work ul li{
    background-color: #fff;
    color: #000;
    font-weight: 400;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.5);
    transition: all .7s ease;
    cursor: pointer;
}
.work ul li.active{
    background-color: #FF6A00;
    color: #fff;
}
.artwork{
    position: absolute;
    top: -1920px;
    background-color: #092C86;
    left: calc(1920*2px);
    display: inline-block !important;
    width: 1920px !important;
    height: 1080px !important;
    padding-top: 95px;
    border: 1px solid #fff;
    overflow: auto;
	scroll-behavior: smooth	;
    align-items:flex-start !important;
    justify-content: center;
    /* 얘 왜 순위가 밀리지... */
    transition: all .7s ease;
    box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.774);

}
.artwork.active{
    top: 0;
}
.artwork::-webkit-scrollbar{
	width: 20px;
}
.artwork::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
.artwork::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
}
.artwork .artworkTop{
    display: flex;
    padding: 0px 85px !important;
    width: 100%;
    height: 633px;
    border: 1px solid rgb(255, 169, 169);
    justify-content: space-between;
}
.artwork .artworkTop .media{
    width: 1120px;
    height: 100%;
    border: 1px solid rgb(0, 255, 106);
}
.artwork .artworkTop .TopDescription{
    width: 550px;
    padding-right: 100px;
    height: 100%;
    border: 1px solid rgb(255, 187, 0);
}
.artwork .TDtitle{
    font-size: 36px;
}
.artwork .TDsubTitle{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
}
.artwork .TDlearnTitle{
    margin-top: 40px;
    font-size: 24px;
}
.artwork .TDlearn{
    margin-top: 20px;
    font-size: 16px;
}
.artwork .core{    
    margin-top: 40px;
    font-size: 24px;
}
.artwork .coreList{
    position: relative;
    width: 100%;
    height: 250px;
    border: 1px solid rgb(255, 187, 0);
}
.artwork .coreList a{
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    color: #FF6A00;
}
.coreList a:first-child{
    top: 20px;
    left: 80px;
}
.coreList a:nth-child(2){
    top: 32px;
    left: 234px;
}
.coreList a:nth-child(3){
    top: 100px;
    left: 40px;
}
.coreList a:nth-child(4){
    top: 160px;
    left: 180px;
}
.coreList a:nth-child(5){
    top: 110px;
    left: 330px;
}
.artwork .Descriptions{
    width: 100%;
    height: 2000px;
    padding: 100px;
    border: 3px solid rgb(255, 255, 255);
}
.artwork .Descriptions li{
    border: 1px solid #fff;
    margin-bottom: 100px;
}
.artwork .Descriptions h3{
    font-size: 36px;
}
.artwork .Descriptions h4{
    margin: 10px 50px;
    padding: 10px 50px;
    font-size: 36px;
    background-color: #000;
}
.artwork .Descriptions h5{
    margin: 50px 150px;
    font-size: 24px;
    font-weight: normal;
}
footer{
    position: absolute;
    top: 0;
    left: calc(1920*3px);
    display: flex;
    width: 1920px;
    height: 1080px;
    padding: 30px 85px;
    background-image: url(../img/footerBack.png);
    background-position: -1067px 140px;
    background-repeat: no-repeat;
}
#footer1{
    width: 50%;
    padding-top: 520px;
}
#footer1 h3{
    font-size: 72px;
    line-height: 150%;
}
#footer1 h4{
    font-size: 36px;
    font-weight: 300;
}
#footer2{
    width: 50%;
    padding-top: 260px;
    text-align: right;
}
#footer2 h2{
    font-size: 72px;
    line-height: 150%;
}
#footer2 h3{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 25px;
}
#footer2 p{
    font-size: 24px;
    line-height: 180%;
    margin-bottom: 15px;
}
#footer2 a{
    font-size: 24px;
    line-height: 120%;
}